/*############### HTML TAGS ############### */
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  position: relative;
}
h1 {
  margin: 0;
}
/*############### ClASSES ############### */
.app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.gameContainer {
  width: 100%;

  position: relative;

  overflow: hidden;
}
.gameContainer__mainMenu {
  width: 320px;
  height: 450px;

  z-index: 2;
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 3px;
  padding-right: 7px;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -160px 0 0 -165px;
}
.gameContainer__mainMenu--border {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}

.midMostContainer {
  width: 300px;
  height: 430px;

  background-color: #8c8663;
}
.midMostContainer--border {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
.midMostContainer__btn {
  display: block;
  font-family: "original_war_menufont";
  font-size: 1.2rem;

  width: 280px;
  height: 40px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  background-color: #e7dfd6;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
.midMostContainer__btn:active {
  transform: translateY(5px);
}
.midMostContainer__btn:focus {
  outline: none;
}
.gameContainer__deck,
.gameContainer__transparentDeck {
  width: 875px;
  height: 700px;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.gameContainer__transparentDeck {
  background-color: black;
  opacity: 0.7;

  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.deck__cardContainer {
  width: 150px;
  height: 100px;
  cursor: pointer;
  position: relative;
  margin-top: 35px;
  margin-left: 50px;
  z-index: 4;
}
.cardContainer__card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.cardContainer__card--clicked {
  transform: rotateY(180deg);
}
.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-width: 5px;
  border-color: rgb(90, 0, 0);
  border-radius: 10px;
  background-color: rgb(90, 0, 0);
  background-image: url("../img/cards/card-am.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: url("../img/faces/face_00.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  transform: rotateY(180deg);
}
.gameContainer__transparentDeck--invisible,
.gameContainer__deck--invisible {
  display: none;
}
.deck__cardContainer--hidden {
  visibility: hidden;
}
.menuContainer {
  width: 25%;
  height: 100%;
}
.navbar {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10%;
  font-family: "original_war_-_zoneregular";
  color: red;
  background-image: linear-gradient(
    to right,
    #0e4a02,
    #2f7008,
    #53980f,
    #7bc113,
    #a8eb12
  );
}
/*############### BACKGROUNDS ###############*/
.backgroundFront,
.backgroundRear {
  position: absolute;
  width: 100%;
  height: 100%;
}
.backgroundFront {
  background-image: url("../img/background/backgroundMain_01.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.backgroundRear {
  z-index: 0;
}

/*############### FONTS ###############*/
@font-face {
  font-family: "original_war_-_zoneregular";
  src: url("./fonts/ow-webfont.woff2") format("woff2"),
    url("./fonts/ow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "original_war_menufont";
  src: url("./fonts/bank-gothic-light-bt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*############### ANIMATION CLASSES ###############*/
.anFadeAway {
  animation-name: exit-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.anComeIn {
  animation-name: zoom-in;
  animation-duration: 2s;
}
.anHandingOutCard {
  animation-name: handing-out-card;
  animation-duration: 0.5s;
}
/*############### ANIMATIONS ###############*/
@keyframes exit-right {
  20% {
    opacity: 1;
    transform: translate(-100px, 0);
  }

  to {
    opacity: 0;
    transform: translate(3000px, 0);
  }
}
@keyframes zoom-in {
  from {
    width: 0;
    height: 0;
  }
}
@keyframes handing-out-card {
  from {
    transform: translate(0, -1200px);
  }
  to {
    transform: translate(0, 0);
  }
}
/*############### MEDIA QUERYS ###############*/
@media screen and (max-width: 1400px) {
  .gameContainer__deck,
  .gameContainer__transparentDeck {
    width: 60%;
    height: 75%;

    transform: translate(-50%, -50%);
  }
  .deck__card {
    width: 130px;
    height: 80px;

    margin-left: 50px;
  }
}
