/*############### HTML TAGS ############### */
html,
body {
  margin: 0px;
  height: 100vh;
  width: 100%;
}
h1 {
  margin: 0;
}
/*############### ClASSES ############### */
.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.gameContainer {
  width: 100%;

  background-image: url("../img/background/menu-main.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: relative;
}
.gameContainer__mainMenu {
  width: 320px;
  height: 450px;

  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 3px;
  padding-right: 7px;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -160px 0 0 -165px;
}
.gameContainer__mainMenu--disabled {
  display: none !important;
}
.gameContainer__mainMenu--midMostBorder {
  width: 300px;
  height: 430px;

  background-color: #8c8663;
}
.gameContainer__input {
  display: block;
  font-family: "original_war_menufont";
  font-size: 1.2rem;

  width: 280px;
  height: 40px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  background-color: #e7dfd6;
}
.gameContainer__input:active {
  transform: translateY(5px);
}
.gameContainer__input:focus {
  outline: none;
}
.menuContainer {
  width: 25%;
  height: 100%;
}
.menuContainer__navbar {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10%;
  font-family: "original_war_-_zoneregular";
  color: red;
  background-image: linear-gradient(
    to right,
    #0e4a02,
    #2f7008,
    #53980f,
    #7bc113,
    #a8eb12
  );
}
.menuContainer__navbar--header {
  width: 75%;
}
.border {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
/* ##### not applied but worth noting down #####
 background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%238c8663' fill-opacity='0.57'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
*/
/*############### FONTS ############### */
@font-face {
  font-family: "original_war_-_zoneregular";
  src: url("ow-webfont.woff2") format("woff2"),
    url("ow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "original_war_menufont";
  src: url("./bank-gothic-light-bt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*############### ANIMATIONS ############### */
@keyframes menu-fade-away {
  to {
    transform: translateY(5px);
  }
}
