*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/*############### HTML TAGS ############### */
body {
  height: 100vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/*############### ClASSES ############### */
.infoContainer {
  position: fixed;
  background-color: white;

  width: 25%;
  height: 10%;

  z-index: 10;
  right: 0;

  font-family: "original_war_-_zoneregular";
  color: red;
  font-size: 0.8rem;
  text-align: center;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;

  background-color: #e7dfd6;
}
.infoContainer--hidden {
  display: none;
}
.gameContainer {
  width: 100%;

  position: relative;

  overflow: hidden;
}
.gameContainer__mainMenu {
  width: 320px;
  height: 440px;

  z-index: 2;
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 3px;
  padding-right: 7px;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -160px 0 0 -165px;
}
.gameContainer__mainMenu--border {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}

.gameContainer__midMostContainer {
  width: 300px;
  height: 420px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #8c8663;
}
.gameContainer__midMostContainer--border {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
.gameContainer__btn {
  display: block;
  font-family: "original_war_menufont";
  font-size: 1.2rem;

  width: 280px;
  height: 40px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  background-color: #e7dfd6;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
.gameContainer__btn:active {
  transform: translateY(5px);
}
.gameContainer__btn:focus {
  outline: none;
}
.gameContainer__deck,
.gameContainer__transparentDeck {
  width: 60%;
  height: 700px;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.gameContainer__transparentDeck {
  background-color: black;
  opacity: 0.7;

  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.gameContainer__cardContainer {
  width: 150px;
  height: 100px;
  cursor: pointer;
  position: relative;
  margin-top: 25px;
  margin-left: 43px;
  z-index: 4;
}
.gameContainer__card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.gameContainer__card--clicked {
  transform: rotateY(180deg);
}
.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-width: 5px;
  border-color: rgb(90, 0, 0);
  border-radius: 10px;
  background-color: rgb(90, 0, 0);
  background-image: url("../img/cards/card-am.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  transform: rotateY(180deg);
}
.gameContainer__transparentDeck--invisible,
.gameContainer__deck--invisible {
  display: none;
}
.gameContainer__cardContainer--hidden {
  visibility: hidden;
}
/*############### BACKGROUNDS ###############*/
.backgroundFront,
.backgroundRear {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.backgroundFront {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.backgroundRear {
  z-index: 0;
}
.winBoxTransparent {
  width: 60%;
  height: 45%;

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;

  background-image: linear-gradient(to top right, #e7dfd6 0%, #8c8663 140%);
  z-index: 5;

  font-family: "original_war_-_zoneregular";
  text-align: center;
  z-index: 10;
  color: blue;
  font-size: 20px;
  box-shadow: 5px 10px 20px black;
}
.winBoxTransparent__gameSummary {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
.winBoxTransparent__stats {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.winBoxTransparent__titleContainer {
  margin-left: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.winBoxTransparent__inputContainer {
  width: 100%;
  height: 20%;
  margin-top: 20px;
}
.winBoxTransparent__inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.winBoxTransparent__label {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 16px;
  color: blue;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.winBoxTransparent__border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0, 0;
  transition: all 0.15s ease;
}
.winBoxTransparent__input {
  -webkit-appearance: none;
  width: 300px;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  border-bottom: 2px solid blue;
  background: none;
  border-radius: 0;
  color: blue;
  transition: all 0.15s ease;
  text-transform: uppercase;
}
.winBoxTransparent__input:hover {
  background: rgba(34, 50, 84, 0.03);
}
.winBoxTransparent__input:not(:placeholder-shown) + span {
  color: blue;
  transform: translateY(-26px);
  transform: scale(0.75);
}
.winBoxTransparent__input:focus {
  background: none;
  outline: none;
  border-color: #07f;
}
.winBoxTransparent__input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.6);
}
.winBoxTransparent__input:focus + span + .border {
  transform: scaleX(1);
}
.winBoxTransparent__statsTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}
.winBoxTransparent__score,
.winBoxTransparent__time,
.winBoxTransparent__clicks {
  display: inline-block;
  margin-left: 10px;
}
.winBoxTransparent__nickname {
  margin-top: 20px;
}
.winBoxTransparent__ranks {
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 30px;
}
.winBoxTransparent--invisible {
  display: none;
}
/*############### FONTS ###############*/
@font-face {
  font-family: "original_war_-_zoneregular";
  src: url("./fonts/ow-webfont.woff2") format("woff2"),
    url("./fonts/ow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "original_war_menufont";
  src: url("./fonts/bank-gothic-light-bt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*############### ANIMATION CLASSES ###############*/
.anFadeAway {
  animation-name: exit-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.anComeIn {
  animation-name: zoom-in;
  animation-duration: 2s;
}
.anHandingOutCard {
  animation-name: handing-out-card;
  animation-duration: 0.5s;
}
.anComeFromRight {
  animation-name: come-from-right;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}
.anAppear {
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
.anAppearFromLeft {
  animation-name: appear-from-left;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
.anAppearFromRight {
  animation-name: appear-from-right;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
/*############### ANIMATIONS ###############*/
@keyframes exit-right {
  20% {
    opacity: 1;
    transform: translate(-100px, 0);
  }

  to {
    opacity: 0;
    transform: translate(3000px, 0);
  }
}
@keyframes zoom-in {
  from {
    width: 0;
    height: 0;
  }
}
@keyframes handing-out-card {
  from {
    transform: translate(0, -1200px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes come-from-right {
  0% {
    transform: translateX(5000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes come-from-left {
  0% {
    transform: translateX(-5000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes appear-from-right {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  90% {
    opacity: 1;
    transform: translateX(-5px);
  }
}
@keyframes appear-from-left {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  80% {
    opacity: 1;
    transform: translateX(-5px);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
  }
}
/*############### MEDIA QUERYS ###############*/
@media screen and (max-width: 1400px) {
  .gameContainer__deck,
  .gameContainer__transparentDeck {
    width: 60%;
    height: 600px;

    transform: translate(-50%, -50%);
  }
}
